.application
    min-height: 680px
    background: url('../img/Application_bg/bg.png') center (center/cover) no-repeat 
    padding: 100px 0 92px 0
    &__header
        font-weight: 700
        font-size: 36px
        text-transform: uppercase
        color: #ffffff
    &__dscrp
        margin-top: 90px
        font-weight: normal 
        font-size: 20px 
        color: #ffffff
